<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="bndtools.launch.junit">
<booleanAttribute key="clean" value="true"/>
<booleanAttribute key="dynamicBundles" value="false"/>
<booleanAttribute key="junit.keepAlive" value="false"/>
<stringAttribute key="launchTarget" value="org.shorty.osgi.file.itest"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.shorty.osgi.file.itest"/>
<booleanAttribute key="trace" value="true"/>
</launchConfiguration>
